@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 220 33% 90%;
    --foreground: 228 44% 27%;
    --card: 0 0% 100%;
    --card-foreground: 228 44% 27%;
    --popover: 0 0% 100%;
    --popover-foreground: 228 44% 27%;
    --primary: 228 44% 27%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 20% 96%;
    --secondary-foreground: 228 44% 27%;
    --muted: 220 20% 96%;
    --muted-foreground: 228 20% 45%;
    --accent: 259 55% 77%;
    --accent-foreground: 228 44% 17%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 20% 80%;
    --input: 220 20% 85%;
    --ring: 228 44% 27%;
    --chart-1: 228 44% 27%;
    --chart-2: 259 55% 77%;
    --chart-3: 228 30% 50%;
    --chart-4: 259 40% 60%;
    --chart-5: 220 33% 80%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 228 44% 27%;
    --sidebar-primary: 228 44% 27%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 220 33% 90%;
    --sidebar-accent-foreground: 228 44% 27%;
    --sidebar-border: 220 13% 88%;
    --sidebar-ring: 228 44% 27%;
  }
  .dark {
    --background: 228 20% 10%;
    --foreground: 220 33% 90%;
    --card: 228 20% 15%;
    --card-foreground: 220 33% 90%;
    --popover: 228 20% 10%;
    --popover-foreground: 220 33% 90%;
    --primary: 259 55% 77%;
    --primary-foreground: 228 20% 10%;
    --secondary: 228 20% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 228 20% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 228 44% 27%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 228 20% 25%;
    --input: 228 20% 25%;
    --ring: 259 55% 77%;
    --chart-1: 259 55% 77%;
    --chart-2: 228 44% 27%;
    --chart-3: 259 40% 60%;
    --chart-4: 228 30% 50%;
    --chart-5: 220 33% 80%;
    --sidebar-background: 228 20% 15%;
    --sidebar-foreground: 220 33% 90%;
    --sidebar-primary: 259 55% 77%;
    --sidebar-primary-foreground: 228 20% 10%;
    --sidebar-accent: 228 20% 20%;
    --sidebar-accent-foreground: 220 33% 90%;
    --sidebar-border: 228 20% 25%;
    --sidebar-ring: 259 55% 77%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
